<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; font-src 'self' https://fonts.gstatic.com https://fonts.googleapis.com; script-src 'self' https://cdn.jsdelivr.net;">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="../asset/style.css">
    <title>Knowledge base Application</title>
</head>
<body>
    <div id="app">
        <div class="header">
            <div class="header-content">
                <div class="logo">
                    InfoHive
                </div>
                <div class="search">
                    <input type="text" id="search" placeholder="Search articles..." value="">
                </div>
                <button id="add-new-article">Add new article</button>
            </div>
        </div>
        <div class="main">

        </div>
        <div class="footer">
            <p>InfoHive</p>
            <p>&copy; 2022 InfoHive. All rights reserved.</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script src="../renderer.mjs"></script>
</body>
</html>