@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* global styles */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 16px;
    background-color: #23272f;
    height: 100;
    color: #fff;
    overflow-y: auto;
   
}
.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}
/* header styles */
.header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-bottom: 1.5px solid #333;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
}

.header-content {
    background: #1c2128;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #333;
    width: 100%;
    padding: 0 10%;
}

.logo {
    family: 'Roboto Flex', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}

.logo:hover {
    cursor: pointer;
}

.header-content button {
    background: transparent;
    color: #a7a7a7;
    border: 1px solid #fff;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.header-content button:hover {
    background: #fff;
    color: #333;
}
.search {
    height: 35px;
    max-width: 400px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 20px auto;
}

.search input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

/* add article page style*/
.add-article, .edit-article{
    display: flex;
    width: 100%;
    min-height: calc(100vh - 130px);
    justify-content: center;
    align-items: center;
}
.add-article-content, .edit-article-content {
    background: #fff;
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    color: #333;
}
.add-article h2, .edit-article h2{
    margin-bottom: 20px;
    font-size: 1.25rem;
}
.add-article-form, .edit-article-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.form-group {
    width: 100%;
    margin-bottom: 20px;
}
#content {
    width: 100%;
    height: 300px;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #a7a7a7;
    outline: none;
    overflow-y: auto;
}
.ql-toolbar {
    border-radius: 5px 5px 0 0;
}

.form-group input {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    outline: none;
}
.form-group label {
    margin-bottom: 10px;
    font-weight: 500;
    color: #411216;
    font-size: .9rem;
}
.form-group select{
    padding: 10px;
    border-radius: 5px;
}
 button[type="submit"], .cancel {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover, .cancel:hover {
    background: #fff;
    color: #333;
    border: 1px solid #333;
}

/* main style */
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* home */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 130px);
    width: 100%;
}
.home-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px 10%;
}
.article {
    background: #1c2128;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1.5px solid #333;
    width: 100%;
}
.article-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.article .id{
    font-size: .7rem;
    color: #a7a7a7;
}
.article .title {
    font-size: .8rem;
    color: #a7a7a7;
}
.article .created-date{
    font-size: .7rem;
    color: #a7a7a7;

}
.article .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
.view-button, .delete-button, .edit-button {
    background: transparent;
    color: #a7a7a7;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: .7rem;
    margin: 0 5px;
}
.view-button:hover, .delete-button:hover, .edit-button:hover {
    background: #fff;
    color: #333;
}

/* Display Article */
.display-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 130px);
}
.display-article-content {
    background: #fff;
    width: 70%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    color: #333;
}
.display-article .title{
    margin-bottom: 20px;
    font-size: 1.25rem;
    color: #23272f;
    font-weight: 600;
}

/* footer style */
.footer {
    background: #1c2128;
    color: #a7a7a7;
    font-size: .8rem;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-top: 1.5px solid #333;
}


/* screen size */
@media screen and (max-width: 768px) {
    .header-content {
        padding: 0 5%;
    }
    .search {
        width: 50%;
    }
    .add-article-content, .edit-article-content {
        width: 90%;
        height: 100%;
    }
    .add-article-form input {
        width: 100%;
    }
    .form-group input {
        width: 100%;
    }
    .form-group select {
        width: 100%;
    }
    .articles {
        padding: 0 5%;
    }
    .display-article-content {
        width: 90%;
    }
}
@media screen and (max-width: 480px) {
}
